*{
    margin: 0;
    padding: 0;
}

body{
    background: #7F7FD5;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #91EAE4, #86A8E7, #7F7FD5);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #91EAE4, #86A8E7, #7F7FD5); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
}

h1, h3{
    text-align: center;
    margin-top: 3vh;
}

.randomContainer {  display: grid;
  grid-template-columns: 0.4fr 2.3fr 0.3fr;
  grid-template-rows: 0.2fr 2.6fr 0.2fr;
  grid-auto-columns: 1fr;
  grid-auto-rows: 1fr;
  gap: 0em 0em;
  grid-auto-flow: row;
  align-items: stretch;
  grid-template-areas:
    "navbar navbar navbar"
    "wspace1 verse wspace2"
    "wspace1 footer wspace2";
}

.navbar { grid-area: navbar; }

.verse { grid-area: verse; }

.wspace1 { grid-area: wspace1; }

.wspace2 { grid-area: wspace2; }

.footer { 
    grid-area: footer; 
    justify-self: flex-end;
    align-items: center;
    margin-top: 20vh;
}
  
.authLinks{
    margin-left: 5px;
}