{% extends 'base.html' %}

{% block styles %}
<link rel="stylesheet" href="../../../static/signup.css">
{% endblock %}

{% block title %} Signup {% endblock %}

{% block content %}

<div class="signup">
    <div class="navbar"></div>

    <div class="wspace1"></div>

    <div class="wspace2"></div>

    <div class="footer"></div>

    <div class="form">
        <form method="POST">

            {{ form.hidden_tag() }}

            <div class="form-floating mb-3 w-25 mx-auto">
                {{ form.first_name(class="form-control", id="floatingInput") }}
                <label for="floatingInput">First Name</label>
            </div>

            <div class="form-floating mb-3 w-25 mx-auto">
                {{ form.last_name(class="form-control", id="floatingInput") }}
                <label for="floatingInput">Last Name</label>
            </div>

            <div class="form-floating mb-3 w-25 mx-auto">
                {{ form.email(class="form-control", id="floatingInput") }}
                <label for="floatingInput">Email address</label>
            </div>

            <div class="form-floating w-25 mx-auto">
                {{ form.password(class="form-control", id="floatingPassword") }}
                <label for="floatingPassword">Password</label>
            </div>

            <div class="form-floating w-25 mx-auto">
                {{ form.Comfirm_Password(class="form-control", id="floatingPassword") }}
                <label for="floatingPassword">Confirm Password</label>
                {{ form.submit_btn(class="signupBtn btn btn-primary btn-lg") }}
            </div>
        </form>
    </div>

</div>

{% endblock %}